[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
waitress = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
pyscss = "*"
flask-assets = "*"
dukpy = "*"

[dev-packages]

[requires]
python_version = "3.9"
