* {
  padding: 0;
  margin: 0;
}

body {
  padding: 15px 20px;
}

form {
  display: flex;
  align-items: center;
}

form > * + * {
  margin-left: 5px;
}

.section {
  margin-top: 15px;
}

.todo__item {
  display: flex;
  align-items: center;
}

.todo__item + .todo__item {
  margin-top: 5px;
}

.todo__item > * + * {
  margin-left: 5px;
}

.todo__item > button {
  cursor: pointer;

  padding: 0 5px;
}

.line-through {
  text-decoration: line-through;
}
