<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    {% assets "theme" %}
        <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
    {% endassets %}
</head>

<body>
    <div class="container wrapper">
        <div class="curriculum">
            <div class="header">
                <div class="header__photo">
                    <img src="https://visafoto.com/img/passport-photo-original7.jpg" alt="" class="header__photo-img">
                </div>
                <div class="header__title">
                  <div class="header__heading">{{ context.name }}</div>
                    <div class="header__subheading">Puesto Ocupado / Buscado</div>
                </div>
            </div>
            <div class="main">
                <div class="aside">
                    <div class="section">
                        <div class="section__title">
                            Contacto
                        </div>
                        <div class="section__content">
                            <div class="item">
                                <div class="item__icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
                                <div class="item__title">999 999 999</div>
                            </div>
                            <div class="item">
                                <div class="item__icon"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
                                <div class="item__title">jose.martinez@gmail.com</div>
                            </div>
                            <div class="item">
                                <div class="item__icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                                <div class="item__title">Mexico DF</div>
                            </div>
                            <div class="item">
                                <div class="item__icon"><i class="fa fa-linkedin-square" aria-hidden="true"></i></div>
                                <div class="item__title">linkedln.com/jose-martinez</div>
                            </div>
                        </div>
                    </div>

                    <div class="section">
                        <div class="section__title">
                            Idiomas
                        </div>
                        <div class="section__content">
                            <div class="item">
                                <div class="item__title">Expanol: Nativo</div>
                            </div>
                            <div class="item">
                                <div class="item__title">Ingles: Bilingue (TOBIC 900)</div>
                            </div>
                            <div class="item">
                                <div class="item__title">Frances: Intermedio (B2)</div>
                            </div>
                        </div>
                    </div>

                    <div class="section">
                        <div class="section__title">
                            Aptitudes
                        </div>
                        <div class="section__content">
                            <ul class="list">
                                <li class="list__item">Inteligencia Emocional</li>
                                <li class="list__item">Espiritu critica</li>
                                <li class="list__item">Trabajo en equipo</li>
                                <li class="list__item">Capacidad analitica</li>
                                <li class="list__item">Habilidades Fisicas</li>
                            </ul>
                        </div>
                    </div>

                    <div class="section">
                        <div class="section__title">
                            Habilidades
                        </div>
                        <div class="section__content">
                            <ul class="list">
                                <li class="list__item">Acondicionamiento fisico</li>
                                <li class="list__item">Creacion videos deportivos</li>
                                <li class="list__item">Pack Office</li>
                                <li class="list__item">tenis</li>
                            </ul>
                        </div>
                    </div>

                    <div class="section">
                        <div class="section__title">
                            Otros intereses
                        </div>
                        <div class="section__content">
                            <ul class="list">
                                <li class="list__item">Creador de Yincanas</li>
                                <li class="list__item">Paseos ecologicos grupales</li>
                                <li class="list__item">Lectura grupal en ingles</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="section">
                        <div class="section__title">Perfil</div>
                        <div class="section__content">
                            Trabajador social con 4 anos de expericia en proyectos colectivos. Mi objetivo es lograr que
                            los jovenes obtengan acceso a la educacion superior mediante logros depotivos.
                        </div>
                    </div>
                    <div class="section">
                        <div class="section__title">
                            expericia laboral
                        </div>
                        <div class="section__content">
                            <div class="subsection">
                                <div class="subsection__heading">Trabajador social</div>
                                <div class="subsection__subheading">Mexico DF
                                    <span class="text-date">2022 - Actualmente</span>
                                </div>
                                <ul class="list">
                                    <li class="list__item">Coordinador y medido entre los equipos de ayuda pedagogicos a
                                        jovenes y ninos en inclusoion social</li>
                                    <li class="list__item">Velar por la salud mental de l equipo y de miembros
                                        involucrados en proyectos</li>
                                    <li class="list__item">Mapeo de necesidades estrategicas y logicas para los
                                        diferentes areas</li>
                                    <li class="list__item">Monitor de ejercicios fisicos para adolescentes</li>
                                    <li class="list__item">Formar diferente actividades extracurriculares en los
                                        involucrados</li>
                                </ul>
                            </div>

                            <div class="subsection">
                                <div class="subsection__heading">Trabajador social</div>
                                <div class="subsection__subheading">Mexico DF
                                    <span class="text-date">2020 - 2022</span>
                                </div>
                                <ul class="list">
                                    <li class="list__item">Funciones para seguimiento de cascos para joveenes con
                                        problemas de aficiones</li>
                                    <li class="list__item">Capacidad a integracion vinculadas a medidas preventivas</li>
                                    <li class="list__item">Recopilacion de evidencias para auditorias y programas
                                        sociales</li>
                                </ul>
                            </div>

                            <div class="subsection">
                                <div class="subsection__heading">Trabajador social (Practicas)</div>
                                <div class="subsection__subheading">Zaragoza, Espana
                                    <span class="text-date">2019 - 2020</span>
                                </div>
                                <ul class="list">
                                    <li class="list__item">Profesor de lengua espanol e inglesa para jovenes migrantes
                                    </li>
                                    <li class="list__item">Monitor de actividades ecologicas con adolescentes</li>
                                    <li class="list__item">Coordinador de areas depotivas</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="section">
                        <div class="section__title">Formacion</div>
                        <div class="section__content">
                            <div class="subsection">
                                <div class="subsection__heading">Grado de Trabajo Social</div>
                                <div class="subsection__subheading">ESMA, Espana
                                    <span class="text-date">2012 - 2015</span>
                                </div>
                            </div>

                            <div class="subsection">
                                <div class="subsection__heading">Licenciatura profesional</div>
                                <div class="subsection__subheading">Universidad de las Fronteras, Mexico DF
                                    <span class="text-date">2011 - 2012</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
